<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RetroBar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RetroBar.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Windows 95-98</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowQuickLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuickLaunchPath" serializeAs="String">
                <value>%appdata%\Microsoft\Internet Explorer\Quick Launch\User Pinned\TaskBar</value>
            </setting>
            <setting name="CollapseNotifyIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowFontSmoothing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="Edge" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowMultiMon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSoftwareRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PinnedNotifyIcons" serializeAs="String">
                <value>7820ae76-23e3-4229-82c1-e41cb67d5b9c|7820ae75-23e3-4229-82c1-e41cb67d5b9c|7820ae74-23e3-4229-82c1-e41cb67d5b9c|7820ae73-23e3-4229-82c1-e41cb67d5b9c</value>
            </setting>
            <setting name="QuickLaunchOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTaskThumbnails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiMonMode" serializeAs="String">
                <value>0</value>
            </setting>
        </RetroBar.Properties.Settings>
    </userSettings>
</configuration>